<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar
 showCancelButton="focus"
 inputmode="text"
 (ionChange)="change( $event )"
 animated
 [value]="filterText"
></ion-searchbar>

<ion-content class="ion-padding">
  <!-- <ion-segment value="pizza" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="in">
      <ion-label>Entrada</ion-label>
    </ion-segment-button>
    <ion-segment-button value="out">
      <ion-label>Salida</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>

    <ion-item-sliding *ngFor="let item of items | stock:filterText" (ionSwipe)="swipe($event,item)">
      <ion-item-options expandable side="start">
        
        <ion-item-option (click)="createTransaction(item,false)" color="danger">
          <ion-icon slot="start" md="remove-outline"></ion-icon>
          Salida
        </ion-item-option>
      </ion-item-options>
      <ion-item [routerLink]="['/item-detail', item.id]" detail>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>{{item.id}}</p>
        </ion-label>
        <ion-badge slot="end">{{item.quantity}}</ion-badge>
      </ion-item>
      <ion-item-options expandable side="end">
        <ion-item-option (click)="createTransaction(item,true)" color="primary">
          <ion-icon slot="end" name="add"></ion-icon>
          Entrada
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlertPrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
