<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Codigo <ion-text color="danger">*</ion-text></ion-label>
      <ion-input readonly required formControlName="id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad en stock <ion-text color="danger">*</ion-text></ion-label>
      <ion-input readonly required formControlName="quantity" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="itemForm.invalid">
      Guardar
    </ion-button>
  </form>
  <!-- <div class="container">
    <div>
      <ion-button fill="clear" (click)="onClick()">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-label class="quantity">{{item.quantity}}</ion-label>
      <ion-button fill="clear" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </div> -->
  <ion-list-header class="container">
    <div>
      <ion-button (click)="presentModal(false)" color="danger">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
        Salida
      </ion-button>
      <ion-button (click)="presentModal(true)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
        Entrada
      </ion-button>
    </div>
  </ion-list-header>
  <ion-list >
    <ion-item *ngFor="let transaction of transactions.reverse()" >
      <ion-label mode="md" [color]="transaction.positive? 'positive' : 'danger'" slot="start"
        ><h2 >
          <b>{{transaction.positive? 'Entrada' : 'Salida'}}</b>
        </h2>
        <p>{{transaction.date.toLocaleString()}}</p>
      </ion-label>
      <ion-label [color]="transaction.positive? 'positive' : 'danger'" slot="end">{{transaction.diff}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
